<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free movie catalogue for you" />
    <meta name="theme-color" content="#576CBC" />

    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="./favicon.png" />
    <link rel="apple-touch-icon" href="/icons/tasty- 192x192.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&family=Merriweather:wght@300&family=Sarabun&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Tasty Trails</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Skip to Content</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Tasty Trails</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/like">Favorites</a></li>
          <li>
            <a
              href="https://www.linkedin.com/in/m-hoki-rezky-5a6145207/"
              target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <section>
      <div class="hero">
        <div class="hero-inner">
          <div class="hero-title">Find Your Best Culinary Experience</div>
          <div class="hero-description">
            Explore a wide selection of the best restaurants in your city
          </div>
        </div>
      </div>
    </section>

    <main id="mainContent" tabindex="0"></main>

    <footer>
      <p>
        All data obtained from
        <a
          href="https://restaurant-api.dicoding.dev"
          target="_blank"
          rel="noreferrer"
          >Restaurant API Dicoding</a
        >
      </p>
    </footer>
  </body>
</html>
